<section id="one" class="tiles">
  
  <article>
    <span class="image">
      <img src="{{ page.image }}" alt="" />
    </span>
    <header class="major">
      <h3><a href="https://mdahirel.github.io/dispersal" class="link">Dispersal</a></h3>
      <p>Who moves? Why do they move?</p>
    </header>
  </article>
  
    <article>
    <span class="image">
      <img src="mdahirel.github.io/assets/images/urban1.JPG" alt="" />
    </span>
    <header class="major">
      <h3><a href="https://mdahirel.github.io/urbanecology" class="link">Urban ecology and evolution</a></h3>
      <p></p>
    </header>
  </article>

    <article>
    <span class="image">
      <img src="{{ page.image }}" alt="" />
    </span>
    <header class="major">
      <h3><a href="https://mdahirel.github.io/publications" class="link">Publications</a></h3>
      <p></p>
    </header>
  </article> 
  
      <article>
    <span class="image">
      <img src="{{ page.image }}" alt="" />
    </span>
    <header class="major">
      <h3><a href="https://mdahirel.github.io/mentoring" class="link">Mentoring</a></h3>
      <p></p>
    </header>
  </article>  
  
        <article>
    <span class="image">
      <img src="mdahirel.github.io/assets/images/portrait1.jpg" alt="" />
    </span>
    <header class="major">
      <h3><a href="https://mdahirel.github.io/cv" class="link">CV</a></h3>
      <p></p>
    </header>
  </article>  
  
</section>
