<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/research1">Dispersal ecology and evolution</a></li>
              <li><a href="/research2">Ecology and evolution in cities</a></li>
              <li><a href="/publications">Publications</a></li>
	        		<li><a href="/cv">CV</a></li>
	        		
	    		</ul>
			</nav>
			<div class="container">
